#root {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  --color-black: #242424;
  --color-white: #fffefd;
  --color-grey: #efeded;
  --color-dark-grey: #b8b8b8;
}

.spreadsheet-wrapper {
  width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-top: 1px solid var(--color-dark-grey);
}

.spreadsheet {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(21, 1fr);
  gap: 1px;
  background-color: var(--color-grey);
  width: fit-content;
}

.row {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: subgrid;
  gap: 1px;
  color: var(--color-black);
}

.cell {
  background-color: var(--color-white);
  color: var(--color-black);
  height: 1.5rem;
  width: 5rem;
}

.cell.header {
  background-color: var(--color-grey);
}

.cell > input {
  width: 100%;
    margin: 0;
    display: block;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
}

.cell > p {
  margin: 2px;
}